.contenedorapp{
  max-width: 1000px;
  place-content: center;
  display: grid;
  gap:1rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  position: relative;
  margin-left:  auto ;
  margin-right: auto;
}
