.containerDetails{
  width: 90vw;
  height: 80vh;
  border: 1px solid black;
  display: grid;
  grid-template-columns: 3fr 5fr;
}
.containerDetails > img{
  object-fit: fill;
  /* position: fixed; */
  height: 100%;
  width: 100%;
}
.containerDetails_description{
  margin: 20px auto;
  display: grid;
  overflow-y:auto ;
  gap:10px;
  padding: 0 25px;
}
/* .descriptionScroll{
  overflow-y:auto ;
} */